.root
{
	-fx-font-family: "Segoe UI";
	-fx-font-size: 12;
}

#damage-label
{
	-fx-font-family: "Times New Roman";
	-fx-font-size: 20;
	-fx-alignment: "top-left";
	-fx-wrap-text: false;
	-fx-text-overrun: "ellipsis";
}

#move-cells
{
	-fx-font-family: "Segoe UI";
	-fx-font-size: 12.5;
	-fx-max-width: 280;
	-fx-max-height: 94;
}

#update-button
{
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, #add8e6, #add8e6;
	-fx-background-radius:  6.4, 5, 4, 3;
	-fx-background-insets: -1.4, 0, 1, 2;
}

#update-button:hover
{
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, #c4e3ed, #c4e3ed;
}

#update-button:armed
{
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, #76bdd5, #76bdd5;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button
{
    -fx-padding: 0px;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button
{
    -fx-padding: 0px;
}